main {
	display: block;
	/*margin: 0 auto;*/
	/*height: 100vh;*/
}
header {
	background-image: url("../img/siliconvalley07.jpg");
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	height: 100vh;
	width: 100%;
}

div#logo {
	padding-top: 35%;
	text-align: center;
}

/*#container{
	margin-top: 50px;
}*/

#rounded-img{
	border-radius: 250px;
	border: 0.5px solid;
	margin: 0 auto;
	display: block;
}


section {
	height: 100vh;
}

#navBarLogo{
	height:64px;
}
